body{
  margin:0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: url('images\\BGImg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  min-height:100vh;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.membership-container, .events-container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

.nav-container { /* holds logo and navigation */
  display: flex;
  align-items: center;
  background-color: #f34cda;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

.nav-container a, .nav-logo{ /* BINI logo */
  height:70px;
  margin:0 auto;
}

.nav-logo:hover{ 
  height:70px;
  margin:0 auto;
}

.nav-container ion-icon  {
  margin-left:10px;
  color: rgb(255, 255, 255);
}

.nav-container ion-icon:hover{
  cursor:pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #72a1f8;
  opacity: 0.8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  margin: 35px 0;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #5296e3;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
  color:rgb(255, 255, 255);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.home{
  width:100%;
  max-width:2600px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  overflow: hidden;
  padding-top: 70px;
}
.home img{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.slider-holder{
  background-size: cover;
  padding-bottom: 70px;
}

.slider-holder .description{
    margin-left: 0;
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
    max-height: 100px;
    overflow: auto; 
}

.slider {
  position: relative;
  margin-right:200px;
  width: auto;
  height: 700px;
  overflow: hidden;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.5s ease-out;
}

.item h1{
  color:#ff9191;
}
.item h1 em{
  font-style: normal;
  color:rgb(236, 42, 100);
}

.item {
  position: absolute;
  min-width:300px;
  width: 400px;
  max-height:300px;
  height: 700px;
  text-align: justify;
  border-radius: 15px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 100px);
  top: 50px;
}

.item img {
  width: 100%;
  max-height:500px;
  object-fit: cover;
  height: auto;
  border-radius: 10px;
}

#next, #prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 48px;
  cursor: pointer;
  z-index:10;
}

#prev:first-child {
  left: 20%;
  background-color: rgba(236, 42, 100, 0.8); 
  border-radius: 20px;
}

#next:last-child {
  right: 43px;
  background-color: rgba(236, 42, 100, 0.8);
  border-radius: 20px;
}

/* button responsiveness */
@media (max-width: 1200px) {
  #prev, #next {
      font-size: 36px;
  }
}

@media (max-width: 768px) {
  #prev, #next {
      font-size: 24px;
  }
}

@media (max-width: 480px) {
  #prev, #next {
      font-size: 20px;
  }
}

.collage-holder {
  display: flex;
  align-items: flex-start; 
  gap: 40px;
  padding: 40px 20px 0px 20px;
}

.description {
  margin-left: 20px;
  width: 100%;
  max-width: 550px; 
  font-family: "Rubik", sans-serif;
  color: #000000;
}

.description h1{
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 50px;
  color: rgb(236, 42, 100);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);

}
.description p{
  text-align: justify;
  font-size: large;
}

.collage {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1400px;
}

.collage img {
  flex: 1 1 300px; 
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.collage img:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(233, 105, 245, 0.8); 
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px;
}

.discography{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  padding: 0 20px 130px 20px;
  font-family: "Crimson Text", serif ;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.5s ease-out;
  
}

.discography h1{
  font-size: 50px;
  margin-bottom: 40px;
  color:#df8b3d;
  outline: #dc3ccc;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 230, 91,0.8);
}

.wrapper{
  max-width: 1200px;
  position: relative;
}

.wrapper ion-icon{
  top:50%;
  height:46px;
  width: 46px;
  background-color:rgba(255, 179, 92, 0.8);
  color:white;
  border-radius: 20px ;
  position:absolute;
  line-height: 40px;
  list-style: none;
  text-align: center;
  cursor:pointer;
  font-size: 1.2rem;
  transform: translateY(-50%);
}

.wrapper ion-icon:first-child{
  left:-23px;
}

.wrapper ion-icon:last-child{
  right:-23px;
}

.wrapper .carousel{
  white-space: nowrap;
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: contain;
  margin-left: 15px;
  width: calc(100%/3);
  transition: 0.3s;
  outline: none;
}

.carousel img:focus{
  outline: none;
}

.carousel img:hover{
  height:370px;
  opacity: 0.9;
}

.carousel img:first-child{
  margin-left: 0px;
}


@media screen and (max-width:900px){
  .carousel img{
    width: calc(100%/3);
  }
}
@media screen and (max-width:550px){
  .carousel img{
    width: 100%;
  }
}

.newsletter h1{
  font-size: 50px;
  font-family: "Crimson Text", serif ;
  color:rgb(109, 240, 196);
  margin:0;
  padding: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(105, 77, 206, 0.7);
}

.newsletter p{
  color:#000000;
  width:500px;
  font-family:"Crimson Text", serif ;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.social-section{
  text-align: center;
  justify-content: center;
}
.social-section h1{
  font-size: 50px;
  font-family: "Crimson Text", serif ;
  color:rgb(151, 27, 100);
  margin:0;
  padding: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(252, 134, 216, 0.7);
}

.membership{
  padding-bottom: 70px;
}

.membership h1{
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "Crimson Text", serif ;
  color:#fff;
  outline: #dc3ccc;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(91, 189, 255);
}

.membership h2{
  font-size: 30px;
  color:rgb(91, 189, 255);
}
.membership p{
  width:600px;
  font-family:"Crimson Text", serif ;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  color:#000000;
}
.membership img{
  width: 700px;
  height:400px;
  object-fit: contain;  
  padding-bottom: 15px;
}

.membership button{
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  color:white;
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 15px;
  background-color:rgb(91, 189, 255);
  transition: background-color 0.6s ease-out, box-shadow 0.3s ease;
}

.membership button:hover{
  background-color:rgba(91, 189, 255,0.9);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
}

.event-list-container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  padding-bottom: 40px;
  color:rgb(87, 77, 77);
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.event-list-container h1{
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "Crimson Text", serif ;
  color:#35948e;
  outline: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(157, 227, 240,0.9);
}

.event-row {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.event-column {
  flex: 1;
  padding: 0 10px;
}

#event-name{
  text-align: left;
  font-weight: bold;
  margin-right: 60px;
}

#event-address{
  text-align: left;
}

.event-column a {
  color: #a462b4;
  text-decoration: none;
  transition: all 0.2s ease;
}

.event-column a:hover {
  color: #686169;
  text-decoration: underline;
}

.event-list-container hr{
  width:90%;
}

.newsletter{
  padding-bottom: 80px;
}
.newsletter h1{
  font-size: 50px;
  font-family: "Crimson Text", serif ;
  color:rgb(109, 240, 196);
  margin:0;
  padding: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(105, 77, 206, 0.7);
}

.newsletter p{
  color:#000000;
  width:500px;
  font-family:"Crimson Text", serif ;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.newsletter input{
  height:2rem;
  width:23rem;
  display: block;
  margin: 10px auto;
}

.newsletter #full-name{
  margin-bottom: 30px;
}

::placeholder{
  opacity: 0.6;
}

.newsletter #signup{
  width:10rem;
  border-radius: 9px;
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
  border: none;
  color:white;
  background-color:rgb(109, 240, 196);  
  transition: background-color 0.6s ease-out, box-shadow 0.3s ease;
}

.newsletter #signup:hover{
  background-color:rgba(109, 240, 196,0.7);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
}

.social-section{
  text-align: center;
  justify-content: center;
}

.social-section h1{
  font-size: 50px;
  font-family: "Crimson Text", serif ;
  color:rgb(151, 27, 100);
  margin:0;
  padding: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(252, 134, 216, 0.7);
}

.socials{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}
.socials i {
  font-size:3rem;
}
.socials #facebook{
  color:rgb(37, 69, 247);
}
.socials #instagram{
  color:rgb(171, 49, 228);
}
.socials #spotify{
  color:green;
}
.socials #tiktok{
  color:rgb(0, 0, 0);
}
.socials #youtube{
  color:red;
}
.socials #x{
  color:rgb(0, 13, 134);
}

.show {
  opacity: 1;
  transform: translateY(0);
  margin-bottom: 0;
}

footer{
  margin:0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #000000;
}